---
import AllProducts from "./_all-products.vue";
import ProductDetails from "./_product-details.vue";

const { path = "index" } = Astro.params;

const page = [
  {
    match: /all/,
    title: "View all products",
  },
  {
    match: /\w+/,
    title: "Product Details",
  },
  {
    match: /some-regex/,
    title: "Some Product Category Item",
  },
  {
    match: /some-regex/,
    title: "Some Product Type Category Item",
  },
];

const relevantPageDetails = page.find((v) => path.match(v.match));

console.log(Astro.params)

if (!relevantPageDetails) {
  return Astro.redirect("/404");
}
---

<h1>{relevantPageDetails.title}</h1>
{
  relevantPageDetails.title === 'View all products' && <AllProducts client:only="vue" />  
}

{
  relevantPageDetails.title === 'Product Details' && <ProductDetails productId={path} client:visible />  
}
